<div class="row">
    <div class="col-md-6">
        <div><span translate="LIST_FILTER"></span><br/>
            <input type="text" ng-model="beerfilter"><br/>
        </div>
        <ul>
            <li ng-repeat="beer in beers | filter: beerfilter"
                style="border-bottom: 3px solid #dddddd; margin-bottom: 11px;">
                <a ui-sref="details({'beerId': beer.id})">{{beer.brand}}</a>
                <img ng-src="{{beer.companyLogoURL}}" height="120px" style="margin-left: 20px; float: inherit;">
            </li>

        </ul>
    </div>
    <div class="col-md-6">
        <div ui-grid="gridConfig" ui-grid-selection class="myGrid"></div>
    </div>

</div>
